<h1 class="page-header">Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
    <span class="greeting">Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
    <div class="login-links">
        <%= link_to 'Войти', new_user_session_path %> или 
        <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    </div>
<% end %>
